* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #121212;
}

/* LOGIN && REGISTER */

.not-logged-holder {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.landing-container {
  display: flex;
  width: 60%;
  background-color: #1e1e1e;
}

.landing-photo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #73c2fb;
  overflow: hidden;
}

.landing-photo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.landing-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 5px;
}

.landing-form h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: #fff;
}

.landing-form p {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #aaa;
}

.label-input {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 50%;
}

.label-classic {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #fff;
}

.input-classic,
.input-error {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #555;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
}

.not-logged-button {
  padding: 0.9rem 1rem;
  font-size: 0.9rem;
  width: 60%;
  align-self: center;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1rem;
}

.not-logged-button:hover {
  background-color: rgb(45, 117, 168);
  transform: translateY(1px);
}

.label-input-eye {
  align-self: flex-end;
  margin-top: 2.2rem;
  margin-right: 1rem;
  position: absolute;
  cursor: pointer;
}

.label-error {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ff3838;
}

.login-error {
  color: #ff3838;
}

.login-success {
  color: #0d8f29;
}

@media (max-width: 768px) {
  .landing-container {
    flex-direction: column;
    align-items: center;
  }

  .landing-photo {
    display: none;
  }

  .landing-form {
    width: 100%;
    max-width: 400px;
    margin: 2rem;
  }

  .label-input {
    width: 100%;
  }

  .not-logged-button {
    width: 100%;
  }
}

/* NAVBAR */

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
  z-index: 1;
}

.logo-link {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-weight: 100;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.nav-link:hover {
  color: #aaa;
}

.burger {
  display: none;
  cursor: pointer;
}

.nav-used {
  font-weight: bold;
  color: #777;
}

.line1,
.line2,
.line3 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger.active .line2 {
    opacity: 0;
  }

  .burger.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .navbar.active .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #1e1e1e;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
  }

  .navbar.active .menu li {
    margin: 20px 0;
  }
}

/* DECKS */

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #1e1e1e;
  color: white;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
  border-radius: 20px;

  width: 90%;
  height: 80vh;

  margin: 4rem auto auto auto;
  padding: 1rem;
  gap: 30px;
}

.plus {
  max-height: 7rem;
  font-size: 40px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.deck {
  display: flex;
  flex-direction: column;
  background-color: #333;
  box-shadow: 8px 6px 2px rgba(0, 0, 0, 0.2);

  max-height: 8.5rem;
  padding: 1rem;
  border-radius: 20px;
  gap: 20px;
  align-items: center;
}

.deck h3 {
  font-size: 18px; 
  color: #dfddddf5; 
  text-transform: capitalize;
  letter-spacing: 1px; 
  font-weight: 400; 
}


.flag-holder {
  padding: 10px;
  border-radius: 15px;
  max-width: 80px;
  background-color: #1e1e1e;
}

.flag-holder img {
  max-width: 100%;
  max-height: 100%; 
}