/* Login Page Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}
  
body {
  background-color: #f0f0f0;
}
  
/* LOGIN && REGISTER */
  
.not-logged-holder {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.landing-container {
  display: flex;
  width: 60%;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
}

.landing-photo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #73c2fb;
  overflow: hidden;
}

.landing-photo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.landing-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
}

.landing-form h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}

.landing-form p {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #777;
}

.label-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 50%;
}

.label-input label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

.label-input input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.not-logged-button {
  padding: 0.9rem 1rem;
  font-size: 0.9rem;
  width: 60%;
  align-self: center;
  background-color: #3fa8f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:  0.3s ease;
  box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1rem;
}
  
.not-logged-button:hover {
  background-color: #67a0c9;
  transform: translateY(2px);
}

.label-input-eye {
  align-self: flex-end;
  margin-top: 2.2rem;
  margin-right: 1rem;
  position: absolute;
  cursor: pointer;
}

@media (max-width: 768px) {
  .landing-container {
    flex-direction: column;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.0);
    align-items: center; 
  }

  .landing-photo {
    display: none;
  }

  .landing-form {
    width: 100%;
    max-width: 400px; 
    margin: 2rem; 
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
  }

  .label-input {
    width: 100%;
  }

  .not-logged-button {
    width: 100%;
  }
}

/* NAVBAR START */

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
  z-index: 1;
}

.logo-link {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-weight: 100;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.nav-link:hover {
  color: #ddd3d3;
}

.burger {
  display: none;
  cursor: pointer;
}

.nav-used {
  font-weight: bold;
  color: #777;
}

.line1,
.line2,
.line3 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  
  .burger {
    display: block;
  }
  
  .burger.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .burger.active .line2 {
    opacity: 0;
  }
  
  .burger.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .navbar.active .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #333;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
  }
  
  .navbar.active .menu li {
    margin: 20px 0;
  }
}
