* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #121212;
}

/* LOGIN && REGISTER */

.not-logged-holder {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.landing-container {
  display: flex;
  width: 60%;
  background-color: #1e1e1e;
}

.landing-photo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #73c2fb;
  overflow: hidden;
}

.landing-photo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.landing-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 5px;
}

.landing-form h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: #fff;
}

.landing-form p {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #aaa;
}

.label-input {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 50%;
}

.label-classic {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #fff;
}

.input-classic,
.input-error {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #555;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
}

.not-logged-button {
  padding: 0.9rem 1rem;
  font-size: 0.9rem;
  width: 60%;
  align-self: center;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1rem;
}

.not-logged-button:hover {
  background-color: rgb(45, 117, 168);
  transform: translateY(1px);
}

.label-input-eye {
  align-self: flex-end;
  margin-top: 2.2rem;
  margin-right: 1rem;
  position: absolute;
  cursor: pointer;
}

.label-error {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ff3838;
}

.login-error {
  color: #ff3838;
}

.login-success {
  color: #0d8f29;
}

@media (max-width: 768px) {
  .landing-container {
    flex-direction: column;
    align-items: center;
  }

  .landing-photo {
    display: none;
  }

  .landing-form {
    width: 100%;
    max-width: 400px;
    margin: 2rem;
  }

  .label-input {
    width: 80%;
  }

  .not-logged-button {
    width: 100%;
  }
}

/* NAVBAR */

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
  z-index: 1;
}

.logo-link {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-weight: 100;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.nav-link:hover {
  color: #aaa;
}

.burger {
  display: none;
  cursor: pointer;
}

.nav-used {
  font-weight: bold;
  color: #777;
}

.line1,
.line2,
.line3 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger.active .line2 {
    opacity: 0;
  }

  .burger.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .navbar.active .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #1e1e1e;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
  }

  .navbar.active .menu li {
    margin: 20px 0;
  }
}

/* DECKS */

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #1e1e1e;
  align-content: flex-start;
  color: white;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
  border-radius: 20px;

  width: 90%;
  height: 80vh;

  margin: 4rem auto auto auto;
  padding: 1rem 0 0 2rem;
  gap: 30px;
  overflow: auto;
}

.plus {
  max-height: 15rem;
  font-size: 60px;
  display: flex;
  justify-content: center; 
  align-items: center;
  transition: transform 0.4s ease-in-out;
}

.plus:hover {
  transform: scale(1.1);
}

.deck {
  display: flex;
  flex-direction: column;
  background-color: #333;
  box-shadow: 8px 6px 2px rgba(0, 0, 0, 0.2);
  max-height: 16rem;
  padding: 1rem;
  border-radius: 20px;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: relative;
}

.add-deck {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.add-deck-ender {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  margin: 1rem;
  font-size: 3rem;
  color: white;
  transition: 0.5s ease-in-out;
}

.add-deck-ender:hover {
  transform: scale(1.1);
}

.add-deck-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-color: #3b3838;
  color: white;
  border-radius: 50px;
}

.add-deck-select,
.add-deck-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #333;
  background-color: #222;
  color: #fff;
  margin-top: 5px;
}

.hovered-deck {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 20px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.hovered-deck-center {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-deck-button {
  align-self: center;
  width: 60%;
  margin-top: 2rem;
  background-color: #1094ec;
  color: white;
  padding: 10px 20px; 
  font-size: 16px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.add-deck-button:hover {
  transform: translateY(1px);
  background-color: #0c77be;
}

.revise-button {
  background-color: #299e6d;
  box-shadow: 8px 6px 2px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s ease-in-out;
}

.edit-button {
  background-color: #007bff;
  box-shadow: 8px 6px 2px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s ease-in-out;
}

.remove-button {
  background-color: #e02909;
  box-shadow: 8px 6px 2px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s ease-in-out;
}

.revise-button:hover {
  transform: translateY(2px);
  background-color: #187950;
}

.remove-button:hover {
  transform: translateY(2px);
  background-color: #a51f07;
}

.edit-button:hover {
  transform: translateY(2px);
  background-color: #0056b3;
}

.hovered-deck h1:hover {
  text-decoration: underline;
}

.hovered-deck h1:last-child {
  margin-top: 10px;
}

.deck:hover .hovered-deck {
  display: flex;
}

.deck h3 {
  font-size: 32px; 
  color: #dfddddf5; 
  text-transform: capitalize;
  letter-spacing: 1px; 
  font-weight: 100; 
}

.flag-holder {
  padding: 20px;
  border-radius: 15px;
  max-width: 160px;
  background-color: #1e1e1e;
}

.flag-holder img {
  border-radius: 15px;
  max-width: 100%;
  max-height: 100%; 
}

.deck-table {
  width: 98%;
  border-collapse: collapse;
  margin-top: 20px;
}

.deck-table th,
.deck-table td {
  padding: 15px;
  border: 1px solid #555;
  color: white;
  text-align: left;
  transition: background-color 0.3s ease-in-out;
}

.deck-table th {
  background-color: #1e1e1e;
  font-weight: bold;
  text-transform: uppercase;
}

.deck-table tbody tr:nth-child(even) {
  background-color: #333; 
}

.deck-table tbody tr:nth-child(odd) {
  background-color: #292929; 
}

.button-holder {
  display: flex;
  justify-content: center;
  gap: 10px;
}


@media (max-width: 768px) {
  .container {
    padding: 1rem 0 0 1rem;
  }

  .plus {
    max-height: 7rem;
    font-size: 40px;
  }
  
  .deck {
    max-height: 8.5rem;
  }
  
  .deck h3 {
    font-size: 18px; 
  }
  
  .flag-holder {
    padding: 10px;
    max-width: 80px;
  }

  .revise-button {
    padding: 5px 5px;
    font-size: 12px;
  }

  .edit-button {
    padding: 5px 5px;
    font-size: 12px;
  }
  
  .remove-button {
    padding: 5px 5px;
    font-size: 12px;
  }

  .hovered-deck-center {
    gap: 20px;
  }

  .add-deck-form {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}